<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1> Autor: Clara Quevedo Galán </h1>
		<p> clara.quevedo.galan@alumnos.upm.es </p>
	</body>
	<footer>
		<a href='https://github.com/quevedoclara/quiz2016'> Enlace a página de Github </a>
		<div><a href='/'> Volver a página inicio </a></div>
	</footer>	
</html>